@import '../../../styles.scss';
@import '../../../styles.css';

.passiv_effect {
  position:relative;
  padding: 2px;
  outline:none;
  border: none;
  box-shadow: none;
  background-image: 
  linear-gradient(white, white), 
  linear-gradient(white, white), 
  linear-gradient(white, white), 
  linear-gradient(white, white);
  
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 3px 0%, 0% 3px, 0% 3px, 3px 0%;
  background-color:transparent;
  background-repeat:no-repeat;
  transition:0.2s linear;
}
.passiv_effect:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  left:0;
  bottom:0;
  border:3px solid white;
}

.passiv_effect {
  background-position: 0 100%, 0 0, 0 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%;
  animation: animate 1.4s linear infinite 0.2s;
}

@keyframes animate {
  0% {
  background-position: 0 100%, 0 0, 0 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%;
  }
  40% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 100%;
  }
  60% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
  background-size: 3px 0%, 0% 3px, 100% 3px,3px 100%
  }
  70% {
  background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
  background-size: 3px 100%, 0% 3px, 100% 3px,3px 0%;
  }
  80% {
  background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%;
  background-size: 3px 100%, 0% 3px, 0% 3px,3px 0%;
  }
  100% {
  background-position: 0% 0%, 0 0, 0 100%, 100% 100%;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%  
  }
}

.right-col {
  border-left: 1px solid white;
  margin-left: 5px;
  height: max-content;
}

.skill-container {

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

::ng-deep {
  .ng-select .ng-select-container {
    color: white;
  } 
  .ng-select .ng-clear-wrapper {
    display: none !important;
  }
}

.bg-transparent {
  border-radius: 4px;
}
::ng-deep input {
  color: white !important;
}
.disable-input {
  cursor: none;
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(100%);
}

@media screen and (max-width: 1024px) {
  .content-container {
    flex-wrap: wrap;

    .result-artifacts,
    .artifacts {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .units {
    width: 100%;
  }
}

@media screen and (max-width: 573px) {
  .unit-skills {
    width: 100%;
    flex-wrap: wrap;
  }
}
