//# Action-bar Styles

.box-container {
  margin: 0px !important;

  &.import {

    .import-box-flex {
      display: inline-block;
      justify-content: space-between;

      .material-icons {
        display: none;
        color: $accent-color;

        &.active {
          display: inline-block;
          margin-left: 15px;
        }
      }

      fa-icon {
        &.fileCsv {
          margin-left: 15px;
        }
      }

      &.second {
        margin: -15px;
        margin-left: -15px;
        padding: 15px;
        background-color: $grey;
        float: right;

        button {
          background: transparent !important;

          fa-icon {
            margin-left: 15px;
          }
        }
      }
    }
  }
}