//# Button Styles

button {
	outline: none !important;
}

button[disabled] {
  background-color: #2b262f !important;
  opacity: 0.7;
  border-color: transparent !important;
}

.btn-primary {
  font-family: 'Karla', sans-serif !important;
  font-weight: 800;
  padding: 15px 30px;
  color: $clear-white;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover {
    color: $accent-color;
    background-color: transparent;
  }
}

.btn-secondary {
  font-family: 'Karla', sans-serif !important;
  font-weight: 800;
  padding: 8px 10px;
  color: $dark-grey;
  background-color: $clear-white;
  border: 2px solid $clear-white;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover {
    color: $clear-white;
    background-color: transparent;
  }
}

.btn-secondary-delete {
  font-family: 'Karla', sans-serif !important;
  font-weight: 800;
  padding: 8px 10px;
  color: $dark-grey;
  background-color: $error-color;
  border: 2px solid $error-color;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover {
    color: $clear-white;
    background-color: transparent;
  }
}

.btn-secondary-action {
  font-family: 'Karla', sans-serif !important;
  font-weight: 800;
  padding: 15px 15px;
  color: $dark-grey;
  background-color: $clear-white;
  border: 2px solid $clear-white;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover {
    color: $clear-white;
    background-color: transparent;
  }
}

.btn-nav {
  font-family: 'Karla', sans-serif !important;
  font-weight: 400;
  padding: 8px 10px;
  color: $clear-white;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    color: $clear-white;
  }
}