.rune_wrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;

  >div:not(.artifact) {
    flex: 1 1 0px;
    max-width: 16.666%;
  }

  .rune_data {
    font-weight: lighter;
    color: $clear-white;
    background-color: #1a1a1a;
    padding: 8px;
    border: 1px solid #c58c4e;

    .rune_name {
      color: #f3ac60;
      text-align: center;
      padding: 8px;
      font-weight: 400;
    }

    .rune_main_stat {
      display: flex;
      font-weight: 400;

      .rune_render {
        height: 90px;
        width: 90px;
        margin: 8px auto;
        background-color: black;
        position: relative;
        background-color: #261c10;
        border-radius: 3px;

        .rune_stars {
          position: absolute;
          left: 4px;
          top: 4px;
          opacity: 0.8;
        }

        .rune_upgrade {
          position: absolute;
          right: 4px;
          bottom: 4px;
          opacity: 0.8;
        }

        img {
          width: 50px;
          height: 50px;
          position: absolute;
          z-index: 0;
          left: 50%;
          top: 25%;
          transform: translate(-50%);
          margin: 0 !important;
        }
      }
    }

    .rune_data_header {
      display: flex;
      padding: 10px 8px 5px 10px;
      font-size: 1.3em;
      justify-content: center;
      font-weight: 400;
      height: 20px;

      .rune_type {
        margin-right: 8px;
        color: #f3ac60;
      }
    }

    .rune_prefix {
      text-align: center;
      font-weight: 300;
      color: #f3ac60;
      margin-bottom: 10px;
      height: 20px;
    }

    .rune_data_secondary_stat {
      .rune_data_wrapper {
        display: flex;
        padding: 4px 8px;
        font-weight: 400;

        .rune_type {
          color: #b7aa83;
          margin-right: 8px;
        }

        .isGrindstones {
          color: #f3ac60;
        }
      }
    }

    .rune_mana {
      background-color: #26282b;
      display: table;
      width: calc(100% + 5px);
      margin: 8px 0px -8px -7px;
      padding: 5px;

      img {
        width: 30px;
        height: 30px;
      }

      .rune_sell_cost {
        display: table-cell;
        vertical-align: middle;
        font-weight: 400;
      }
    }

    .rune_data_main_stat {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      > div {
        padding: 8px;
      }

      .rune_type {
      }

      .rune_main_stat {
        color: $accent-color;
      }
    }
  }
}