//# Input Styles
input {
  &:focus {
    outline: 0;
  }
  max-height: 40px;
  max-width: 70px;
}

select option {
  color: black !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep {
  .mat-form-field-flex {
    border-radius: 10px !important;
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-number {
  padding: 0px 5px;
  border-radius: 25px;
  &.small {
    width: 60px;
  }
  &.normal {
    width: 100px;
  }
}