@import '../abstracts/_abstracts-dir';

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: $clear-white;
}

.mat-cell:not(.monster_img):not(.mat-column-runes):not(.rune_img),
th {
  color: $clear-white;
}

.mat-input-element::placeholder {
  color: white;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #1a1a1a;
  border-radius: 0px !important;
  border: 1px solid #2f2f2f !important;
  padding: 0 0 0 .75em !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: transparent !important;
}

mat-form-field {
  margin-bottom: -1.34375em;
}

::ng-deep.mat-form-field-ripple {
  background-color: $accent-color !important;
  opacity: 0.5;
}

::ng-deep .mat-checkbox-frame {
  border-color: $grey;
}

.mat-sort-header-button {
  color: white;
}

.mat-header-row {
  background-color: #1a1a1a;
}

.mat-column-select {
  overflow: initial;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $accent-color !important;
}

.mat-drawer-content.mat-sidenav-content {
  margin-left: 0px !important;
}

.mat-checkbox-inner-container {
  width: 25px !important;
  height: 25px !important; 
}

::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element, 
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element{
  background: white !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background.mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: white !important;
}

::ng-deep .mat-checkbox-frame {
  border-color: white !important;
}

.mat-checkbox-label {
  margin-left: 5px;
  text-align: left;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:$accent-color;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:$accent-color;
  background-color:$accent-color;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $accent-color;
}

::ng-deep {
  .mat-search {
    position: absolute !important;
    top: 80px;
    left: 25px;
    width: 250px;
    color: white !important;
  
    .mat-form-field-flex {
      border-radius: 15px !important;
      border: 2px solid $secondary-color !important;

      input:hover {
        border: 0px;
      }
    }
    .mat-form-field-underline {
      display: none !important;
    }
  }

  .mat-cell:not(.inherit-size) {
    min-width: 60px !important;
  }
}