//# Responsive Table Styles
@import '../abstracts/_abstracts-dir';

::ng-deep {
  .custom-slider {
    
    .ngx-slider {
      .ngx-slider-bar {
        height: 6px;
        top: 14px;
        background: rgb(172, 94, 0);
      }
      .ngx-slider-pointer {
        width: 22px !important;
        height: 22px !important;
        top: -11px !important;
        background-color: rgb(247, 172, 81);
        margin-left: 4px !important;
        outline: none !important;
  
        &:after {
          background-color: transparent !important;

          &:hover {
            background: transparent !important;
          }
        }
      }
      .ngx-slider-ticks {
        top: -2px;

        .ngx-slider-tick {
          width: 6px;
          height: 6px;
  
          &.ngx-slider-selected {
            background-color: #ffffff69;
            opacity: 0.5;
          }
        }
      }
    }
    .ngx-slider-bubble {
      font-size: 14px;

      &.ngx-slider-model-high, .ngx-slider-model-value, ngx-slider-span ngx-slider-bubble ngx-slider-model-value {
        margin-left: 4px !important;
      }
    }
  }
}