@import '../../../styles.scss';
@import '../../../styles.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.divider-right {
    height: 100%;
    border-top: 0px;
    border-right: 2px solid #504d51;
}

@media screen and (max-width: 573px) {
    button {
        height: fit-content;
    }
    .divider-right {
        display: none;
    }
    header {
        padding-top: 7.5rem !important;
    }
}

video {
    height: 70%;
}