@import '../../../styles.scss';
@import '../../../styles.css';

@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: red;
  }