@import '../../../styles.scss';
@import '../../../styles.css';

::ng-deep {
  .ng-select .ng-select-container {
    color: white;
  } 
  .ng-select .ng-clear-wrapper {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .content-container {
    flex-wrap: wrap;

    .result-verde,
    .artifacts {
      width: 100%;
    }
  }
}