//# Global Rules

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: $dark-grey;
}

.main-container {
  h1 {
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 0.1rem;
  }
}

.container {
  padding: 25px;

  &.table_container {
    padding: 0px !important;
  }

  &.wizard-container,
  &.steps-container,
  &.buildings-container,
  &.monsters-container,
  &.runes-container {
    display: flex;
    width: 300px;
    
    .wrapper {
      margin: 0;
      padding: 15px;
      background-color: $medium-grey;
      border-radius: 5px;
      text-align: left;
      font-weight: 300;
      text-decoration: none;
      font-size: 1.1em;
      list-style: none;

      h2 {
        padding: 0px 15px;
        margin: 10px 0px;
      }

      div, li {
        padding: 15px;
        color: $clear-white;
        padding: 0px 15px;
        margin: 10px 0px;

        span &.accent {
          color: $accent-color;
        }
      }
    }
  }
}

.faded, .show, .active {
  opacity: 1 !important;
  pointer-events: inherit !important;
}

.gray-filter {
  filter: grayscale(1);
}

.slider {
  transform: translateY(-50%);
  left: -10vh;
}