//# Typography Rules

html,
body {
  font-family: 'Karla', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-size: 4rem;
  margin: 0;
  letter-spacing: 0.1rem;
  font-family: 'Ubuntu', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.pre-title {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.text-title {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.1rem;
}

.desc-title {
  font-family: 'Karla', sans-serif;
  font-weight: 200;
}

a, .accent {
  color: $accent-color;
  text-decoration: none;
}

.green-icon {
  color: green;
}
.red-icon {
  color: red;
}

.accent-gradient {
  background: -webkit-linear-gradient(45deg, #7F00FF, #E100FF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accent-gradient-btn {
  background-image: -webkit-linear-gradient(45deg, #7F00FF, #b000c7) !important;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.secondary-gradient-btn, .card-media {
  background: -webkit-linear-gradient(45deg, #f12711, #f5af19) !important;
  box-shadow: 0 4px 15px 0 rgba(238, 46, 20, 0.75);
  transition: 0.3s;

  &:hover {
    background: -webkit-linear-gradient(45deg, #f12711, #f5af19) !important;
    opacity: 0.6;
  }
}

.text-green {
  color: $confirm-color !important;
}

.text-red {
  color: $error-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-gold {
  color: $clear-grey !important;
}