<!-- <a href="https://twitter.com/NokiDev" target="_blank">
  <div class="flex flex-row flex-wrap items-center absolute bg-black rounded-xl p-2 bg-opacity-70" style="left: 6rem; top: 1rem ">
    <img class="rounded-full w-50px h-50px" src="./assets/img/contrib/noki.jpg">
    <div class="twitter_name flex flex-wrap flex-col px-2">
      <span class="text-white flex flex-wrap flex-row items-center">Twitter
        <img class="w-20px h-20px mx-2" src="./assets/img/contrib/twitter.png">
      </span>
      <span class="text-white">Noki</span>
    </div>
  </div>
</a>
<a href="https://twitter.com/MonsieurToutNu" target="_blank">
  <div class="flex flex-row flex-wrap items-center absolute bg-black rounded-xl p-2 bg-opacity-50" style="left: 18rem; top: 1rem">
    <img class="rounded-full w-50px h-50px" src="./assets/img/contrib/kowoshira.jpg">
    <div class="twitter_name flex flex-wrap flex-col px-2">
      <span class="text-white flex flex-wrap flex-row items-center">Twitter
        <img class="w-20px h-20px mx-2" src="./assets/img/contrib/twitter.png">
      </span>
      <span class="text-white">Kowoshira</span>
    </div>
  </div>
</a> -->