//# Scss Variables

/* COLORS */

/* GREY */
$dark-grey: #111; //Component Background
$medium-grey: #1d1c21; //Element Background / hover
$grey: #353535; //Text Color
$clear-grey: #959595; //Text Color Secondary

/* WHITE */
$clear-white: #fafafa;
$white: #fafafa;

/* ACCENT */
$accent-color: #7F00FF;
$accent-color-gradient: #E100FF;
$secondary-color: #fb8c00;

/* CONDITION */

$confirm-color: #00ff93;
$error-color: #ff0078;