<div class="px-4 flex flex-row justify-between">
  <span class="capitalize text-white">{{ name }}</span> 
  <div class="flex flex-row">
    <span [class.text-sw-orange]="effect.grindstones > 0"> +{{ effect.totalValue }}</span>
    <span *ngIf="effect.grindstones > 0">(+{{ effect.grindstones }})</span>
    <span *ngIf="effect.gems > 0" class="ml-1 text-sw-orange">
      <fa-icon class="faSyncAlt" [icon]="sync"></fa-icon>
    </span>
  </div>
</div>