@import '../../../styles.scss';
@import '../../../styles.css';

.filters {
  border: 2px solid $secondary-color;
}

.multiselect {
  margin-top: 5px;
}

.rune-container {
  padding: 5px 15px 0 0;
  width: 270px;
}