@import '../../../styles.scss';
@import '../../../styles.css';
nav {
    width: 100%;
    background-color: rgba(17, 17, 17, 0);

    &.navbar-scroll {
        background-color: rgba(17, 17, 17, 0.97);
    }

    .navbar-container {
        width: 100%;
        padding: 10px 15px;
        max-width: 1536px;
        margin: auto;
        display: flex;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: rgba(17, 17, 17, 0);
        transition: 0.3s;

        .nav-links {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.1rem;
            font-size: 1.4rem;
        
            a.link {
                transition: 0.3s;
                display: flex;
                align-items: center;
        
        
                &.active {
                    color: $white;
                    background-color: $medium-grey;
                }
                &:hover {
                    background-color: $medium-grey;
                    color: $white;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.mob-nav {
    display: none;
    z-index: 999;
    .main {
        margin: 0 auto;
        display: block;
        height: 100%;
        margin-top: 60px;
    }
    .mainInner{
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .mainInner div{
        display:table-cell;
        vertical-align: middle;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 1.25px;
    }
    #sidebarMenu {
        height: 100%;
        position: fixed;
        right: 0;
        width: 50%;
        margin-top: 55px;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        z-index: 999;
        background: $dark-grey;
    }
    .sidebarMenuInner{
        margin:0;
        padding:0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }
    .sidebarMenuInner li{
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    .sidebarMenuInner li span{
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }
    .sidebarMenuInner li a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }
    
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 22px;
        right: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    @media screen and (max-width: 1024px) {
        display: block;
    }
}