<div class="main-container"> 
    <div class="full h-56 bg-hero-background title-header flex-col bg-center flex items-center content-center justify-center">
      <h1 class=" font-semibold tracking-widest text-5xl z-20 mt-12 flex flex-row items-center">Siege Insight<img class="wh-40px" src="./assets/img/sw-neutron-logo.png"></h1>
      <div class="absolute w-full h-56 bg-sw-darkGrey opacity-90 z-10"></div>
    </div>
</div>